<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intrudoor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Intrudoor</h1>
    <div class="cam_container">
        <div class="image-container">
            <h2>Cam1</h2>
            <img id="video1" src="{{ url_for('video') }}" alt="Cam1">
            <button class="maximize-btn" onclick="maximizeImage('video1')">⛶</button>
        </div>
            
        <div class="image-container">
            <h2>Cam2</h2>
            <img id="video2" src="{{ url_for('video2') }}" alt="Cam2">
            <button class="maximize-btn" onclick="maximizeImage('video2')">⛶</button>
        </div>
    </div>

    <div class="down_container">
        <div class="sensor_container">
            <div class="sensors">
                <h6 id="sen1">Sen 1</h6>
                <h6 id="sen2">Sen 2</h6>
                <h6 id="sen3">Sen 3</h6>
            </div>
            <div id="logbox" class="logbox">Log box</div>          
        </div>
        <div class="fingerprint_container">
            <div class="indicator_1"></div>
            <div class="indicator_2"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
/* css */