<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intrudoor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Intrudoor</h1>
    <div class="cam_container">
        <div class="image-container">
            <h2>Cam1</h2>
            <img id="video1" src="{{ url_for('video') }}" alt="Cam1">
            <button class="maximize-btn" onclick="maximizeImage('video1')">⛶</button>
        </div>
            
        <div class="image-container">
            <h2>Cam2</h2>
            <img id="video2" src="{{ url_for('video2') }}" alt="Cam2">
            <button class="maximize-btn" onclick="maximizeImage('video2')">⛶</button>
        </div>
    </div>
    <!---Juls--->
    <div class="down_container">
        <div class="sensor_container">
            <div class="sen1" id="objectStatus">Sensors</div>
            <div class="logbox" id="logbox">Log box</div>          
        </div>
        <div class="fingerprint_container">
            <div class="data-box indicator_1" id="fingerprintStatus">Waiting for fingerprint data...</div><!---FingerPrint--->
            <input type="text" id="commandInput" placeholder="Type 'E' to register">
            <button onclick="sendCommand()">Submit</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='esp.js') }}"></script>
</body>
</html>